extends layout

block content
    h2 Doctor #{doctor.name} 
    .alert.alert-info(role='alert')#patient-is-healing

    if doctor.patients.length == 0 
        a.btn.btn-primary.disabled#done-patient Done
    else
        a.btn.btn-primary#done-patient Done

    div
        h2 Patients 
        table.table
            thead
                tr
                    th(scope='col') Number
                    th(scope='col') Name
                    th(scope='col') Age
                    th(scope='col') Address
                    th(scope='col') Diease
            tbody#list-patients
                each patient,idx in doctor.patients 
                    if idx == 0
                        tr.table-active
                            th(scope='row')= idx+1
                            td= patient.name
                            td= patient.age
                            td= patient.address
                            td= patient.disease
                    else
                        tr 
                            th(scope='row')= idx+1
                            td= patient.name
                            td= patient.age
                            td= patient.address
                            td= patient.disease

block script 
    script(src="/javascripts/doctor-room.js") 
